@font-face {
  font-family: 'TeX';
  src: url('lmroman10-regular.woff') format('woff');
}
@font-face {
  font-family: 'TeX';
  font-style: italic;
  src: url('lmroman10-italic.woff') format('woff');
}
@font-face {
  font-family: 'TeX';
  font-weight: bold;
  src: url('lmroman10-bold.woff') format('woff');
}
@font-face {
  font-family: 'TeX';
  font-weight: bold;
  font-style: italic;
  src: url('lmroman10-bolditalic.woff') format('woff');
}
