.button {
  display: inline-block;
  height: 1em;
  min-width: 1.5em;
  line-height: 100%;
  padding: 0.25em;
  vertical-align: middle;
  text-align: center;
  font-family: sans-serif;
  white-space: nowrap;
  background-color: #e0e0e0;
  user-select: none;
}

.button.hoverable {
  cursor: pointer;
}

.button.standalone {
  border: solid 1px #d0d0d0;
  border-radius: 2px;
  min-width: 1em;
  padding: 0.125em;
  margin: 0.125em;
  position: relative;
}

.button svg {
  vertical-align: middle;
}

.button.standalone svg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.button img {
  vertical-align: middle;
  width: 1em;
  height: 1em;
}
