.button {
  display: inline-block;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  font-style: normal;
  line-height: 100%;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  height: 1em;
  min-width: 1.5em;
  padding: 0.25em;
  color: var(--button-foreground-color);
  background-color: var(--button-background-color);
  user-select: none;
}

.button.hoverable {
  cursor: pointer;
}

.button.hoverable:hover {
  background-color: var(--button-hover-background-color);
}

.button.selected {
  background-color: var(--button-selected-background-color);
}

.button.hoverable.pressed:hover {
  background-color: var(--button-pressed-background-color);
}

.button.standalone {
  border: solid 1px var(--button-border-color);
  border-radius: 2px;
  min-width: 1em;
  position: relative;
}

.button svg {
  vertical-align: middle;
}

.button img {
  vertical-align: middle;
  width: 1em;
  height: 1em;
}
