.open-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  border: solid 1px var(--menu-border-color);
  color: var(--menu-foreground-color);
  background-color: var(--menu-background-color);
  cursor: default;
  box-shadow: 1pt 2pt 5pt var(--shadow-color);
  white-space: nowrap;
  user-select: none;
}

.open-menu .expr {
  white-space: nowrap!important;
}

.open-menu-table, .open-menu-content-cell-table {
  border-spacing: 0;
}

.open-menu, .open-menu-row>th, .open-menu-arrow {
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  font-style: normal;
  line-height: initial;
  text-align: left;
}

.open-menu-title-cell>.open-menu {
  top: 0;
  left: 100%;
}

.open-menu.variable {
  max-height: 20em;
  overflow-x: hidden;
  overflow-y: auto;
}

.open-menu-row>* {
  border: none;
}

.open-menu-row:not(:last-child)>* {
  border-bottom: solid 1px var(--menu-separator-color);
}

.open-menu-row>*:not(:last-child), .open-menu-content-cell-table .open-menu-row>* {
  border-right: solid 1px var(--menu-separator-color);
}

.open-menu-separator {
  padding: 1px 0 0 0;
  background-color: var(--menu-title-background-color);
}

.open-menu-title-cell, .open-menu-item {
  padding: 2pt 3pt;
}

.open-menu-title-cell {
  position: relative;
  white-space: nowrap;
  background-color: var(--menu-title-background-color);
}

.open-menu-title-cell.selected, .open-menu-item.selected {
  color: var(--menu-selected-foreground-color);
  background-color: var(--menu-selected-background-color);
}

.open-menu-title-cell.hover, .open-menu-title-cell.selected.hover, .open-menu-item.hover, .open-menu-item.selected.hover {
  color: var(--menu-hover-foreground-color);
  background-color: var(--menu-hover-background-color);
}

.open-menu-title-cell.clickable, .open-menu-item.clickable {
  cursor: pointer;
}

.open-menu-title-cell-icon {
  display: inline-block;
  position: relative;
  width: 1em;
  min-width: 1em;
  padding-right: 2pt;
  vertical-align: middle;
}

.open-menu-title-cell-icon svg {
  position: absolute;
  width: 1em;
  height: 1em;
  left: 0;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.open-menu-arrow {
  position: absolute;
  right: 0;
  font-size: smaller;
}

.open-menu-content-cell {
  padding: 0;
}

.open-menu-example-table {
  border-collapse: collapse;
  width: 100%;
}

.open-menu-example-row>.open-menu-main-cell {
  width: 100%;
}

.open-menu-example-row>.open-menu-example-cell {
  padding: 0 3pt;
  border-left: solid 1px var(--menu-separator-color);
}

.open-menu-item input {
  font-family: 'TeX', serif;
  font-size: initial;
  color: var(--input-foreground-color);
  background-color: var(--input-background-color);
}
