.expr, .source-code .open-menu .expr {
  font-family: 'TeX', serif;
  line-height: 110%;
  text-decoration: initial;
  color: inherit;
  background-color: inherit;
  text-align: left;
}

.expr.info-text {
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  font-style: normal;
  line-height: initial;
}

.expr.hover, .expr.hover span, .foldable-heading:hover {
  background-color: var(--expression-hover-background-color);
}

.expr.definition.hover, .expr.definition.hover span {
  background-color: var(--definition-hover-background-color);
}

span.expr.interactive.link {
  cursor: pointer!important;
}

span.expr.interactive.link span.expr.interactive {
  cursor: initial;
}

.markdown span.expr.interactive.link {
  text-decoration: underline!important;
  color: var(--link-foreground-color)
}

.markdown span.expr.interactive.link:active {
  color: var(--link-active-foreground-color)
}

.markdown span.expr.interactive.link span.expr.interactive {
  text-decoration: initial;
}

.label, .sub-heading {
  font-weight: bold;
}

.sub-heading {
  display: inline-block;
  margin-top: 1em;
}

.foldable-heading {
  display: inline-block;
  margin-top: 1em;
  cursor: pointer;
}

.foldable-heading>.sub-heading {
  margin-top: 0;
}

.proof-placeholder {
  display: inline-block;
  margin-top: 1ex;
  font-style: italic;
}

.indented .sub-heading, .indented .proof-placeholder {
  margin-top: 0;
}

.label .title {
  font-weight: normal;
}

.paragraph+.paragraph, .paragraph+.list, .list+.list {
  margin-top: 1ex;
}

.list {
  padding-left: 1em;
  margin-top: 0;
  margin-bottom: 0;
}

.list-item {
  padding-left: 1ex;
  min-height: 1em;
}

ul>.list-item {
  padding-left: 0;
}

.list-item+.list-item, .list-item .paragraph+.paragraph, .list-item .paragraph+.list, .list-item .list+.list {
  margin-top: 0.5ex;
}

.list.custom {
  display: table;
  padding-left: 0;
  border-collapse: collapse;
}

.list.custom>* {
  display: table-row;
  padding-left: 0;
}

.list.custom>*>* {
  display: table-cell;
}

.list.custom>.space-above>* {
  padding-top: 1ex;
}

.list.custom>*>.list-item-header {
  padding-right: 1ex;
  white-space: nowrap;
}

.display-math {
  display: inline-block;
}

div.display-math {
  display: block;
}

.paragraph:not(:first-child) .display-math:first-child {
  margin-top: 1ex;
}

.paragraph:not(:last-child) .display-math:last-child {
  margin-bottom: 1ex;
}

.display-math, .indented {
  margin-left: 2em;
}

.addendum, .addendum-hint {
  color: var(--addendum-foreground-color);
}

.addendum {
  font-size: 75%;
}

.display-math>.aligned-row>.aligned-left, .display-math>.aligned-row>.aligned-right {
  padding-top: 1pt;
  padding-bottom: 1pt;
}

.expr sup, .expr sub {
  line-height: 50%;
}

.subsup {
  display: inline-table;
  vertical-align: middle;
  white-space: nowrap;
  border-collapse: collapse;
}

.subsup-full {
  margin-top: -0.75em;
  margin-bottom: -0.75em;
}

.subsup-body-row {
  display: table-row;
}

.subsup-sub-row, .subsup-sup-row {
  display: table-row;
  height: 0.75em;
}

.subsup-body, .subsup-empty {
  display: table-cell;
}

.subsup-left-sub, .subsup-left-sup, .subsup-right-sub, .subsup-right-sup {
  display: table-cell;
  font-size: smaller;
  position: relative;
  line-height: 100%;
}

.subsup-left-sub, .subsup-left-sup {
  text-align: right;
}

.subsup-right-sub, .subsup-right-sup {
  text-align: left;
}

.subsup-left-sub, .subsup-right-sub {
  vertical-align: top;
  bottom: 0.2em;
}

.subsup-left-sup, .subsup-right-sup {
  vertical-align: bottom;
  top: -0.1em;
}

.subsup-full-row>.subsup-left-sub, .subsup-full-row>.subsup-right-sub {
  bottom: 0.75em;
}

.subsup-full-row>.subsup-left-sup, .subsup-full-row>.subsup-right-sup {
  top: 0.75em;
}

.subsup-body:not(:first-child)>.paren>.paren-round {
  margin-left: -0.05ex;
}

.subsup-body:not(:last-child)>.paren>.paren-round {
  margin-right: -0.05ex;
}

.overunder {
  display: inline-table;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  line-height: 100%;
  border-collapse: collapse;
}

.overunder.noover {
  vertical-align: initial;
  margin-top: 0.9em;
}

.overunder-body-row {
  display: table-row;
  vertical-align: initial;
}

.overunder-over-row, .overunder-under-row {
  display: table-row;
  font-size: smaller;
}

.overunder-body, .overunder-over, .overunder-under {
  display: table-cell;
  height: 0.3em;
}

.overunder.shallow>.overunder-body-row>.overunder-body, .overunder.shallow>.overunder-body-row>.overunder-body * {
  line-height: 80%;
}

.overunder.shallow.nounder>.overunder-body-row>.overunder-body {
  position: relative;
  top: -0.4em;
}

.overunder.shallow.nounder>.overunder-over-row>.overunder-over {
  position: relative;
  top: -0.2em;
}

.paren-large {
  margin: 1pt;
  white-space: nowrap;
}

.paren-large.paren-round {
  margin-top: 0;
  margin-bottom: 0;
}

.paren-flat {
  display: inline-block;
  border-left: solid 1pt;
  border-right: solid 1pt;
  padding-left: 2pt;
  padding-right: 2pt;
}

.paren-round, .paren-square, .paren-curly, .paren-angle {
  display: inline-table;
  border-collapse: collapse;
}

.paren-round-row, .paren-square-row, .paren-curly-row, .paren-angle-row {
  display: table-row;
}

.paren-round-left, .paren-round-right, .paren-curly-left, .paren-curly-right, .paren-angle-left, .paren-angle-right {
  display: table-cell;
  vertical-align: top;
  position: relative;
}

.paren-round-left, .paren-round-right, .paren-angle-left, .paren-angle-right {
  width: 1ex;
  min-width: 1ex;
}

.paren-curly-left, .paren-curly-right {
  width: 1.2ex;
  min-width: 1.2ex;
}

.paren-square-left {
  display: table-cell;
  width: 3pt;
  min-width: 3pt;
  border-left: solid 1.5pt;
  border-top: solid 0.75pt;
  border-bottom: solid 0.75pt;
}

.paren-square-right {
  display: table-cell;
  width: 3pt;
  min-width: 3pt;
  border-right: solid 1.5pt;
  border-top: solid 0.75pt;
  border-bottom: solid 0.75pt;
}

.paren-round-body, .paren-square-body, .paren-curly-body, .paren-angle-body {
  display: table-cell;
  min-width: 1pt;
}

.paren-left-hairline {
  border-left: dashed 1px var(--light-foreground-color);
  padding-left: 1pt;
}

.paren-right-hairline {
  border-right: dashed 1px var(--light-foreground-color);
  padding-right: 1pt;
}

.height-2 {
  font-size: 110%;
}

.height-3 {
  font-size: 120%;
}

.height-4 {
  font-size: 130%;
}

.height-5 {
  font-size: 140%;
}

.miniature {
  font-size: 70%;
}

.mini-placeholder {
  font-size: smaller;
}

.table {
  display: inline-table;
  vertical-align: middle;
  border-collapse: collapse;
  white-space: nowrap;
}

.table.inline {
  white-space: initial;
  vertical-align: initial;
}

.table.matrix, .table.binom {
  text-align: center;
}

.table-row {
  display: table-row;
  vertical-align: initial;
}

.table-cell {
  display: table-cell;
}

.table-cell:empty {
  height: 1ex;
}

.table.matrix>.table-row>.table-cell, .table.cases>.table-row>.table-cell {
  padding-left: 1pt;
  padding-right: 1pt;
}

.table.aligned>.table-row>.table-cell:first-child {
  text-align: right;
}

.table.aligned>.table-row:not(:first-child)>.table-cell {
  padding-top: 2pt;
}

.table.definitions>.table-row>.table-cell:last-child {
  white-space: initial;
}

.table.single-case {
  vertical-align: initial;
}

.table.cases>.table-row>.table-cell:not(:first-child), .table.single-case>.table-row>.table-cell:not(:first-child) {
  padding-left: 1ex;
}

.table-cell>.table.cases>.table-row>.table-cell:last-child, .table-cell>.table.single-case>.table-row>.table-cell:last-child {
  white-space: initial;
  min-width: 15em;
}

.table.definitions>.table-row>.table-cell:nth-child(3) {
  padding-left: 1em;
}

.table.construction>.table-row>.table-cell {
  padding: 2pt;
}

.table.construction>.table-row:not(:first-child)>.table-cell {
  padding-top: 1pt;
}

.table.construction>.table-row.large>.table-cell {
  vertical-align: top;
}

.table.construction>.table-row>.table-cell:first-child {
  padding-right: 4pt;
}

.table.construction>.table-row>.table-cell:not(:first-child) {
  border-left: solid 0.75pt;
  padding-left: 4pt;
  white-space: initial;
}

.table.proof-grid>.table-row>.table-cell:nth-child(even) {
  text-align: center;
}

.table.proof-grid>.table-row>.table-cell:last-child {
  white-space: initial;
}

.table.proof-grid>.table-row:not(:first-child)>.table-cell {
  padding-top: 0.5ex;
}

.fraction {
  display: inline-table;
  text-align: center;
  vertical-align: 50%;
  white-space: nowrap;
  border-collapse: collapse;
}

.fraction-numerator-row, .fraction-denominator-row {
  display: table-row;
}

.fraction-numerator, .fraction-denominator {
  display: table-cell;
  padding-left: 0.3ex;
  padding-right: 0.3ex;
}

.fraction-denominator {
  border-top: solid 0.6pt;
}

.radical {
  display: inline-table;
  margin-top: 0.1em;
  margin-bottom: 0.2em;
  white-space: nowrap;
  border-collapse: collapse;
}

.radical-row {
  display: table-row;
}

.radical-degree-col {
  display: table-cell;
  vertical-align: bottom;
}

.radical-degree-table {
  display: table;
}

.radical-degree-top-row {
  display: table-row;
}

.radical-degree-bottom-row {
  display: table-row;
}

.radical-degree {
  display: table-cell;
  font-size: smaller;
  line-height: 100%;
  position: relative;
  bottom: 0.25em;
  left: 0.5pt;
  min-width: 0.6em;
  text-align: right;
}

.radical-degree-bottom-cell {
  display: table-cell;
  height: 0.3em;
  position: relative;
}

.radical-diagonal {
  display: table-cell;
  width: 1ex;
  min-width: 1ex;
  position: relative;
  overflow: visible;
}

.radical-diagonal svg {
  overflow: visible;
}

.radical-radicand {
  display: table-cell;
  border-top: solid 0.8pt;
  padding: 0.5pt 1.5pt 0pt 0.5pt;
  line-height: 100%;
}

.fraction .fraction, .radical .fraction, .radical .radical {
  font-size: 98%;
}

.var, .var>* {
  font-family: 'TeX-Var', serif;
}

.charcorner-tr:last-child::after, .charcorner-tr+*:not(.subsup)::before {
  content: ' ';
  font-size: smaller;
}

.charcorner-tr.charcorner-large+.space-start::before {
  content: ' '!important;
}

.charcorner-tr+sup::before {
  content: ' '!important;
}

.charcorner-tr+sub::before {
  content: ''!important;
}

.thousands-separator {
  padding-left: 1px;
}

.def-colon {
  vertical-align: .04em;
}

.ellipsis {
  line-height: initial;
  font-size: smaller;
}

.contradiction {
  font-family: serif;
  font-style: italic;
}

.dummy {
  color: var(--dummy-foreground-color);
}

.var.dummy {
  border: 1px dotted var(--dummy-border-color);
  margin: -1px;
}

.open-menu .dummy {
  color: var(--dummy-foreground-color-menu);
}

.bold {
  font-weight: bold!important;
  font-style: normal;
}

.italic {
  font-style: italic!important;
}

.prime {
  font-family: 'TeX', sans-serif;
  font-style: italic;
  position: relative;
  left: -1pt;
}

.sans, .ctor {
  font-family: 'TeX-Sans', sans-serif;
  font-style: normal;
}

.calligraphic {
  font-family: 'TeX-Calligraphic', 'Apple Chancery', 'URW Chancery L', cursive;
  font-style: normal;
}

.fraktur {
  font-family: 'TeX-Fraktur', 'Courier New', 'Courier', monospace;
  font-style: normal;
}

.monospace, .source-code, .source-code .expr {
  font-family: var(--source-code-font-family);
  font-weight: var(--source-code-font-weight);
  font-size: var(--source-code-font-size);
  font-style: normal;
}

.double-struck {
  font-family: 'TeX-DoubleStruck', 'Courier New', 'Courier', monospace;
  font-style: normal;
}

.largesym {
  font-size: 110%;
  line-height: 140%;
}

.largesym, .largesym .expr {
  font-family: 'TeX-Large', serif;
}

.largesym>sub {
  line-height: 100%;
  position: relative;
  bottom: -0.25em;
}

.largesym>sup {
  line-height: 100%;
  position: relative;
  top: 0.25em;
}

.source-code, .nowrap {
  white-space: nowrap;
}

.arg {
  color: var(--source-code-arg-foreground-color);
}

.keyword, .keyword .expr, .comment .keyword, .comment .keyword .expr, .meta-ref, .meta-ref .expr {
  color: var(--source-code-keyword-foreground-color);
}

.comment, .comment .expr {
  color: var(--source-code-comment-foreground-color);
}

.source-code .var {
  font-family: 'TeX-Var', serif;
}

.source-code.string {
  font-family: 'TeX', serif;
  color: var(--source-code-string-foreground-color);
}

.source-code.number {
  font-family: 'TeX', serif;
  color: var(--source-code-number-foreground-color);
}

.expr svg {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.expr .radical-degree-bottom-cell>svg {
  position: absolute;
  width: 100%;
  height: 200%;
  right: -0.3pt;
}

.expr .foldable-icon {
  display: inline-block;
  position: relative;
  width: 1em;
  min-width: 1em;
  padding-right: 2pt;
  vertical-align: middle;
}

.expr .foldable-icon svg {
  position: absolute;
  width: 1em;
  height: 1em;
  left: 0;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.menu-container {
  display: inline-block;
  position: relative;
  user-select: none;
}

.menu {
  display: inline-table;
  border: solid 1px var(--expression-menu-border-color);
  border-radius: 2px;
  border-collapse: initial;
  border-spacing: 0;
}

.menu.hidden {
  border: solid 1px var(--expression-menu-hidden-border-color);
}

.menu.hover {
  border-color: var(--expression-menu-hover-border-color);
}

.menu-row {
  display: table-row;
}

.menu-cell {
  display: table-cell;
  padding: 2px 3px;
  cursor: default;
  background-color: var(--expression-menu-background-color);
}

.menu-placeholder-cell, .menu-dropdown-cell {
  display: table-cell;
  vertical-align: middle;
  color: var(--dropdown-foreground-color);
  background-color: var(--dropdown-background-color);
}

.menu.hover .menu-placeholder-cell, .menu.hover .menu-dropdown-cell {
  color: var(--dropdown-hover-foreground-color);
}

.menu.open .menu-placeholder-cell, .menu.open .menu-dropdown-cell {
  color: var(--dropdown-selected-foreground-color);
}

.menu.interactive>.menu-row>.menu-placeholder-cell, .menu.interactive>.menu-row>.menu-dropdown-cell {
  cursor: pointer;
}

.menu-placeholder-cell {
  padding: 2pt;
}

.menu-placeholder {
  display: flex;
  width: 0.7em;
  height: 0.7em;
  position: relative;
}

.menu-dropdown-cell {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-weight);
  font-size: 50%;
}

.menu.hover>.menu-row>.menu-placeholder-cell, .menu.hover>.menu-row>.menu-dropdown-cell, .menu.hidden.hover>.menu-row>.menu-cell {
  background-color: var(--expression-hover-background-color);
}

.menu.open>.menu-row>.menu-placeholder-cell, .menu.open>.menu-row>.menu-dropdown-cell {
  background-color: var(--expression-selected-background-color);
}

.menu.pressed>.menu-row>.menu-placeholder-cell:hover {
  background-color: var(--expression-pressed-background-color);
}

.expr.definition>.menu {
  overflow: hidden;
}

.expr.definition>.menu.hover>.menu-row>.menu-placeholder-cell, .expr.definition>.menu.hover>.menu-row>.menu-dropdown-cell {
  background-color: var(--definition-hover-background-color);
}

.expr.definition>.menu.open>.menu-row>.menu-placeholder-cell, .expr.definition>.menu.open>.menu-row>.menu-dropdown-cell {
  background-color: var(--definition-selected-background-color);
}

.menu.open {
  border-color: var(--expression-menu-selected-border-color);
}

.menu.hover .menu-cell {
  background-color: var(--expression-light-hover-background-color);
}

.expr.definition>.menu.hover .menu-cell {
  background-color: var(--definition-light-hover-background-color);
}

.menu.open .menu-cell {
  background-color: var(--expression-light-selected-background-color);
}

.expr.definition>.menu.open .menu-cell {
  background-color: var(--definition-light-selected-background-color);
}

.expr-input, .expr-textarea {
  font-family: inherit;
  font-size: inherit;
  color: var(--input-foreground-color);
  background-color: var(--input-background-color);
  border: solid 1px var(--input-border-color);
  border-radius: 2px;
}

.expr-input {
  text-align: center;
}

.hover .expr-input {
  color: inherit;
  background-color: inherit;
}

.expr-input.input-error {
  background-color: var(--input-error-background-color);
}

.expr-textarea {
  width: 100%;
	min-height: 4em;
}

.expr .CodeMirror {
  color: var(--input-foreground-color);
  background-color: var(--input-background-color);
}

.expr .CodeMirror, .expr .CodeMirror-scroll {
	min-height: 3.5em;
	max-height: 10em;
}

.expr .editor-toolbar:before {
  margin-bottom: 1px;
}

.expr .editor-toolbar:after {
  margin-top: 1px;
}

.expr .editor-toolbar button {
  color: var(--foreground-color);
  background-color: var(--background-color);
}

.expr .editor-toolbar button:hover {
  color: var(--button-foreground-color);
  background-color: var(--button-hover-background-color);
}
