.expr {
  font-family: 'TeX', serif;
  line-height: 110%;
  text-decoration: initial;
  color: inherit;
  background-color: inherit;
  text-align: left;
}

span.expr.interactive {
  cursor: text;
}

span.expr.interactive.link {
  cursor: pointer;
}

.label, .sub-heading {
  font-weight: bold;
}

.sub-heading {
  display: inline-block;
  margin-top: 1em;
}

.label .title {
  font-weight: normal;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.paragraph+.paragraph, .paragraph+.list, .list+.list, p+p, p+ul, p+ol, ul+ul, ul+ol, ol+ul, ol+ol {
  margin-top: 1ex;
}

.list {
  padding-left: 1em;
  margin-top: 0;
  margin-bottom: 0;
}

.list-item {
  padding-left: 1ex;
}

.list-item+.list-item {
  margin-top: 0.5ex;
}

.list.custom {
  display: table;
}

.list.custom>* {
  display: table-row;
}

.list.custom>*>* {
  display: table-cell;
}

.display-math, .indented {
  margin-left: 2em;
}

.addendum {
  font-size: 75%;
  color: gray;
}

.aligned {
  display: inline-table;
  vertical-align: middle;
}

.aligned-row {
  display: table-row;
}

.aligned-left {
  display: table-cell;
  text-align: right;
  white-space: nowrap;
}

.aligned-right {
  display: table-cell;
  text-align: left;
}

.display-math>.aligned-row>.aligned-left, .display-math>.aligned-row>.aligned-right {
  padding-top: 1pt;
  padding-bottom: 1pt;
}

.subsup {
  display: inline-table;
  vertical-align: middle;
  white-space: nowrap;
}

.subsup-full {
  margin-top: -0.5em;
  margin-bottom: -0.5em;
}

.subsup-body-row {
  display: table-row;
}

.subsup-sub-row, .subsup-sup-row {
  display: table-row;
  height: 0.5em;
}

.subsup-body, .subsup-empty {
  display: table-cell;
}

.subsup-left-sub, .subsup-left-sup, .subsup-right-sub, .subsup-right-sup {
  display: table-cell;
  font-size: smaller;
  position: relative;
  line-height: 100%;
}

.subsup-left-sub, .subsup-left-sup {
  text-align: right;
}

.subsup-right-sub, .subsup-right-sup {
  text-align: left;
}

.subsup-left-sub, .subsup-right-sub {
  vertical-align: top;
  bottom: 0.1em;
}

.subsup-left-sup, .subsup-right-sup {
  vertical-align: bottom;
}

.subsup-full-row>.subsup-left-sub, .subsup-full-row>.subsup-right-sub {
  bottom: 0.5em;
}

.subsup-full-row>.subsup-left-sup, .subsup-full-row>.subsup-right-sup {
  top: 0.5em;
}

.overunder {
  display: inline-table;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
}

.overunder-body-row {
  display: table-row;
}

.overunder-over-row, .overunder-under-row {
  display: table-row;
  height: 0.8em;
  font-size: smaller;
}

.overunder-body, .overunder-over, .overunder-under {
  display: table-cell;
  line-height: 100%;
}

.paren {
  white-space: nowrap;
}

.paren-round {
  display: inline-block;
  border-left: solid 1.4pt;
  border-right: solid 1.4pt;
  border-radius: 5pt;
  padding-left: 4pt;
  padding-right: 4pt;
  padding-top: 2pt;
  padding-bottom: 2pt;
  margin: 1pt;
}

.paren-flat {
  display: inline-block;
  border-left: solid 1pt;
  border-right: solid 1pt;
  padding: 2pt;
  margin: 1pt;
}

.paren-square, .paren-curly, .paren-angle {
  display: inline-table;
  vertical-align: middle;
  margin: 1pt;
}

.paren-square-row, .paren-curly-row, .paren-angle-row {
  display: table-row;
}

.paren-square-left {
  display: table-cell;
  width: 3pt;
  min-width: 3pt;
  border-left: solid 2pt;
  border-top: solid 1pt;
  border-bottom: solid 1pt;
}

.paren-square-right {
  display: table-cell;
  width: 3pt;
  min-width: 3pt;
  border-right: solid 2pt;
  border-top: solid 1pt;
  border-bottom: solid 1pt;
}

.paren-curly-left, .paren-curly-right, .paren-angle-left, .paren-angle-right {
  display: table-cell;
  width: 1ex;
  min-width: 1ex;
  vertical-align: top;
  position: relative;
}

.paren-square-body, .paren-curly-body, .paren-angle-body {
  display: table-cell;
}

.paren-left-hairline {
  border-left: dashed 1px gray;
  padding-left: 1pt;
}

.paren-right-hairline {
  border-right: dashed 1px gray;
  padding-right: 1pt;
}

.height-2 {
  font-size: 110%;
}

.height-3 {
  font-size: 120%;
}

.height-4 {
  font-size: 130%;
}

.height-5 {
  font-size: 140%;
}

.table {
  display: inline-table;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  padding-left: 2pt;
  padding-right: 2pt;
}

.cases {
  text-align: left;
}

.cases>.table-row>.table-cell:not(:first-child) {
  padding-left: 1ex;
}

.binom {
  margin: -2pt;
}

.construction {
  text-align: left;
}

.construction>.table-row>.table-cell:first-child {
  padding-right: 1ex;
}

.construction>.table-row>.table-cell:not(:first-child) {
  border-left: solid 1pt;
  padding-left: 1ex;
}

.fraction {
  display: inline-table;
  text-align: center;
  vertical-align: 50%;
  white-space: nowrap;
}

.fraction-numerator-row, .fraction-denominator-row {
  display: table-row;
}

.fraction-numerator, .fraction-denominator {
  display: table-cell;
  padding-left: 0.3ex;
  padding-right: 0.3ex;
}

.fraction-numerator {
  border-bottom: solid 1pt;
}

.radical {
  display: inline-table;
  vertical-align: middle;
  margin-left: 1pt;
  margin-right: 1pt;
  margin-top: 0.1em;
  margin-bottom: 0.2em;
  white-space: nowrap;
}

.radical-row {
  display: table-row;
}

.radical-degree-col {
  display: table-cell;
  vertical-align: bottom;
}

.radical-degree-table {
  display: table;
}

.radical-degree-top-row {
  display: table-row;
}

.radical-degree-bottom-row {
  display: table-row;
}

.radical-degree {
  display: table-cell;
  font-size: smaller;
  line-height: 105%;
  position: relative;
  bottom: 0.3em;
  left: 0.5pt;
}

.radical-degree-bottom-cell {
  display: table-cell;
  height: 0.3em;
  position: relative;
}

.radical-diagonal {
  display: table-cell;
  width: 1ex;
  min-width: 1ex;
  position: relative;
}

.radical-radicand {
  display: table-cell;
  vertical-align: bottom;
  border-top: solid 1pt;
  padding-right: 0.3ex;
}

.fraction .fraction, .radical .fraction, .radical .radical {
  font-size: 98%;
}

.var, .source-code .expr.var {
  font-family: 'TeX', serif;
  font-style: italic;
}

.var.charcorner-tr:last-child::after, .var.charcorner-tr+*::before {
  content: ' ';
  font-family: 'TeX', serif;
  font-style: italic;
  font-size: smaller;
}

.var.charcorner-tr.charcorner-large+.space-start::before, .var.charcorner-tr+sup::before {
  font-size: initial;
}

.var.charcorner-tr+sub::before {
  content: '';
}

.var .prime {
  position: relative;
  visibility: hidden;
}

.replacement {
  display: none;
}

.var .prime .replacement {
  display: initial;
  position: absolute;
  left: 0;
  top: -0.5em;
  visibility: initial;
  overflow: visible;
  white-space: nowrap;
  font-size: 70%;
}

.dummy {
  color: #606060;
  border: 1px dotted #e0e0a0;
}

.sans, .ctor {
  font-family: 'TeX-Sans', sans-serif;
  font-style: normal;
}

.calligraphic {
  font-family: 'TeX-Calligraphic', 'Apple Chancery', 'URW Chancery L', cursive;
  font-style: normal;
}

.fraktur {
  font-family: 'TeX-Fraktur', 'Courier New', 'Courier', monospace;
  font-style: normal;
}

.monospace, .source-code, .source-code .expr {
  font-family: 'Courier New', 'Courier', monospace;
  font-style: normal;
}

.double-struck {
  font-family: 'TeX-DoubleStruck', 'Courier New', 'Courier', monospace;
  font-style: normal;
}

.largesym {
  font-family: 'TeX-Large', serif;
  font-size: 110%;
  line-height: 150%;
}

.baseline {
  vertical-align: baseline;
}

.source-code {
  white-space: nowrap;
}

.arg {
  color: gray;
}

.keyword, .keyword .expr, .comment .keyword, .comment .keyword .expr, .meta-ref, .meta-ref .expr {
  color: blue;
}

.comment, .comment .expr {
  color: green;
}

.source-code.string {
  font-family: 'TeX', serif;
  color: maroon;
}

.source-code.number {
  font-family: 'TeX', serif;
  color: teal;
}

.expr svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.expr .radical-degree-bottom-cell>svg {
  position: absolute;
  width: 100%;
  height: 200%;
  bottom: 0;
  right: -0.3pt;
}

.preview>a {
  text-decoration: initial;
  color: initial;
}

.menu-container {
  display: inline-block;
  position: relative;
}

.menu {
  display: inline-table;
  border: solid 1px #e0e0e0;
  border-radius: 2px;
  border-collapse: initial;
  border-spacing: 0;
  margin-bottom: 1px;
  vertical-align: middle;
}

.menu-row {
  display: table-row;
}

.menu-cell {
  display: table-cell;
  padding: 1px 3px;
  cursor: default;
  background-color: #f8f8f8;
}

.menu-placeholder-cell, .menu-dropdown-cell {
  display: table-cell;
  vertical-align: middle;
  color: #808080;
  background-color: #e0e0e0;
  cursor: pointer;
}

.menu-placeholder-cell {
  padding: 1px;
}

.menu-dropdown-cell {
  font-size: 50%;
}

.expr textarea {
  width: 100%;
	min-height: 4em;
  font-family: inherit;
  font-size: inherit;
}

.expr .CodeMirror, .expr .CodeMirror-scroll {
	min-height: 3.5em;
}

.expr .editor-toolbar:before {
  margin-bottom: 1px;
}

.expr .editor-toolbar:after {
  margin-top: 1px;
}
