.open-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  max-height: 20em;
  overflow: auto;
  border: solid 1px #a0a0a0;
  background-color: #f8f8f8;
  cursor: default;
  box-shadow: 1pt 2pt 5pt silver;
  white-space: nowrap;
  user-select: none;
  font-size: initial;
}

.open-menu-wrapper {
  position: absolute;
  top: 0;
  left: 100%;
}

.open-menu-wrapper .open-menu {
  position: fixed;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
}

.open-menu-row>th, .open-menu-arrow {
  font-family: sans-serif;
  font-weight: normal;
  font-style: initial;
  line-height: initial;
  text-align: left;
}

.open-menu-row>* {
  border: none;
}

.open-menu-row:not(:last-child)>* {
  border-bottom: solid 1px #e0e0e0;
}

.open-menu-row>*:not(:last-child), .open-menu-content-cell-table .open-menu-row>* {
  border-right: solid 1px #e0e0e0;
}

.open-menu-row.separated>* {
  border-top: solid 1px #e0e0e0;
}

.open-menu-title-cell {
  position: relative;
  white-space: nowrap;
}

.open-menu-title-cell.clickable, .open-menu-item.clickable {
  cursor: pointer;
}

.open-menu-arrow {
  position: absolute;
  right: 0;
  font-size: smaller;
}

.open-menu-content-cell {
  padding: 0;
}

.open-menu-item input {
  font-family: 'TeX', serif;
  font-size: initial;
}
