.tree {
  display: table;
  width: 100%;
  white-space: nowrap;
  user-select: none;
}

.tree-item-row {
  display: table-row;
  background-color: #fcfcfc;
}

.tree-item-row:nth-child(odd) {
  background-color: #f0f0f0;
}

.tree-item {
  display: table-cell;
  text-decoration: initial;
  color: #000000;
}

.tree-item-contents {
  display: table;
  width: 100%;
}

.tree-item-contents-row {
  display: table-row;
}

.tree-item-icon, .tree-item-indent {
  display: table-cell;
  width: 1em;
  min-width: 1em;
  padding: 2pt;
  position: relative;
  vertical-align: middle;
}

.tree-item-icon svg {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.tree-item-display {
  display: table-cell;
  padding: 2pt;
}

.tree-item-content-display {
  display: table-cell;
  padding-left: 2pt;
}

.tree-item-minor {
  font-size: smaller;
  color: gray;
}

.filtering {
  float: right;
  vertical-align: middle;
}
