.menu-button {
  position: relative;
  cursor: default;
}

.menu-button-popup {
  position: absolute;
  left: 0;
  z-index: 100;
  display: block;
  font-size: initial;
}

.menu-button-popup-top {
  bottom: 100%;
}

.menu-button-popup-bottom {
  top: 100%;
}

.menu-button-popup>* {
  display: block;
  text-align: left;
}
