.dialog {
  padding: 0;
  border-radius: 2pt;
}

.dialog-contents {
  border-collapse: collapse;
}

.dialog-row.separated {
  border-top: solid 1px gray;
}

.dialog-row.separated-above>* {
  padding-top: 1em;
}

.dialog-row.separated-below>* {
  padding-bottom: 1em;
}

.dialog-cell {
  padding: 2pt;
  font-weight: normal;
  text-align: left;
}

.dialog-cell:first-child {
  padding-left: 1em;
}

.dialog-cell:last-child {
  padding-right: 1em;
}

.dialog-group {
  border: solid 1px gray;
  margin: 0;
  padding: 0;
  width: 17em;
}

.dialog-radio-button-group {
  display: flex;
  flex-wrap: wrap;
  padding: 2pt;
}

.dialog-radio-button-group>* {
  margin: 2pt;
}

.dialog-button-row {
  border-top: solid 1px gray;
  background-color: #f0f0f0;
  text-align: right;
}

.dialog-overlay {
  z-index: 20;
  background-color: #00000080;
}

.dialog-optional-label {
  font-size: smaller;
}

.dialog input {
  font: sans-serif;
  font-size: initial;
}

.dialog .tree-container {
  height: 20em;
}
