.dialog {
  position: relative;
  padding: 0;
  border-radius: 2pt;
  margin: auto auto;
  color: var(--dialog-foreground-color);
  background-color: var(--dialog-background-color);
}

.dialog, .dialog-cell, .dialog input {
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  font-style: normal;
  line-height: initial;
  text-align: left;
}

.dialog-contents {
  border-collapse: collapse;
}

.dialog-row.separated {
  border-top: solid 1px var(--dialog-separator-color);
}

.dialog-row.separated-above>* {
  padding-top: 1em;
}

.dialog-row.separated-below>* {
  padding-bottom: 1em;
}

.dialog-cell {
  padding: 2pt;
}

.dialog-cell:first-child {
  padding-left: 1em;
}

.dialog-cell:last-child {
  padding-right: 1em;
}

.dialog-group {
  border: solid 1px var(--dialog-group-border-color);
  margin: 0;
  padding: 0;
  width: 17em;
}

.dialog-radio-button-group {
  display: flex;
  flex-wrap: wrap;
  padding: 2pt;
}

.dialog-radio-button-group>* {
  margin: 2pt;
}

.dialog-button-row {
  border-top: solid 1px var(--dialog-button-row-border-color);
  background-color: var(--dialog-button-row-background-color);
  text-align: right;
}

*.dialog-overlay {
  z-index: 20;
  background-color: var(--dialog-overlay-color);
}

.dialog-optional-label {
  font-size: smaller;
}

.dialog input {
  color: var(--input-foreground-color);
  background-color: var(--input-background-color);
}

.dialog input.input-error {
  color: var(--input-error-foreground-color);
  background-color: var(--input-error-background-color);
}

.dialog .tree-container {
  height: 20em;
}
