.dialog {
  padding: 0;
  border-radius: 2pt;
  margin: auto auto;
  color: var(--dialog-foreground-color);
  background-color: var(--dialog-background-color);
}

.dialog, .dialog-cell, .dialog input {
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  font-style: normal;
  line-height: initial;
  text-align: left;
}

.dialog-contents {
  border-collapse: collapse;
}

.dialog-row.separated {
  border-top: solid 1px var(--dialog-separator-color);
}

.dialog-cell {
  padding: 3pt;
}

.dialog-cell:empty {
  padding: 0;
}

.dialog-row.separated-above>.dialog-cell {
  padding-top: 1ex;
}

.dialog-row.separated-above:first-child>.dialog-cell {
  padding-top: 1em;
}

.dialog-row.separated-below>.dialog-cell {
  padding-bottom: 1ex;
}

.dialog-cell:first-child {
  padding-left: 1em;
  width: 3em;
}

.dialog-cell:last-child {
  padding-right: 1em;
}

.dialog-info-cell {
  min-width: 12em;
  max-width: 17em;
}

.wide .dialog-info-cell {
  min-width: 30em;
  max-width: 30em;
  width: 30em;
}

.dialog-info-cell .dialog-info-cell>.paragraph {
  display: inline-block;
}

.dialog-param-title-cell {
  white-space: nowrap;
}

.dialog-group {
  border: solid 1px var(--dialog-group-border-color);
  margin: 0;
  padding: 0;
  width: 17em;
}

.wide .dialog-group {
  width: 30em;
}

.dialog-radio-button-group {
  display: flex;
  flex-wrap: wrap;
  padding: 2pt;
}

.dialog-radio-button-group>* {
  margin: 2pt;
}

.dialog-button-row {
  border-top: solid 1px var(--dialog-button-row-border-color);
  background-color: var(--dialog-button-row-background-color);
  text-align: right;
}

*.dialog-overlay {
  z-index: 20;
  background-color: var(--dialog-overlay-color);
}

.dialog-optional-label {
  font-size: smaller;
}

.dialog input {
  color: var(--input-foreground-color);
  background-color: var(--input-background-color);
}

.dialog input.input-error {
  color: var(--input-error-foreground-color);
  background-color: var(--input-error-background-color);
}

.dialog .tree-container {
  height: 20em;
}
