.static nav {
  margin-bottom: 1em;
}

.static footer {
  margin-top: 1em;
}

.static .expr {
  font-family: serif;
}

.static a {
  text-decoration: initial;
}

.static .expr .markdown a {
  text-decoration: underline;
}

.static .label, .static .sub-heading {
  font-weight: bold;
}

.static .sub-heading {
  display: inline-block;
  margin-top: 1em;
}

.static .proof-placeholder {
  display: inline-block;
  margin-top: 1ex;
  font-style: italic;
}

.static .indented .sub-heading, .static .indented .proof-placeholder {
  margin-top: 0;
}

.static .label .title {
  font-weight: normal;
}

.static p, .static ul, .static ol, .static .paragraph {
  margin-top: 1ex;
  margin-bottom: 1ex;
}

.static .display-math {
  display: inline-block;
}

.static div.display-math {
  display: block;
}

.static .paragraph:not(:first-child) .display-math:first-child {
  margin-top: 1ex;
}

.static .paragraph:not(:last-child) .display-math:last-child {
  margin-bottom: 1ex;
}

.static .display-math, .static .indented {
  margin-left: 2em;
}

.static .addendum, .static .addendum *, .static .addendum-hint, .static .addendum-hint * {
  color: #a0a0a0;
}

.static .addendum {
  font-size: 75%;
}

.static .table {
  display: inline-table;
  vertical-align: middle;
  border-collapse: collapse;
  white-space: nowrap;
}

.static .table.inline, .static .table.single-case {
  vertical-align: initial;
  white-space: initial;
}

.static .table.matrix, .static .table.binom {
  text-align: center;
}

.static .table-row {
  display: table-row;
  vertical-align: initial;
}

.static .table-cell {
  display: table-cell;
}

.static .table.aligned>.table-row>.table-cell:first-child {
  text-align: right;
}

.static .table.cases>.table-row>.table-cell::last-child, .static .table.single-case>.table-row>.table-cell:last-child, .static .table.definitions>.table-row>.table-cell:last-child, .static .table.construction>.table-row>.table-cell:not(:first-child) {
  white-space: initial;
}

.static .bold {
  font-weight: bold!important;
  font-style: normal;
}

.static .italic, .static .calligraphic {
  font-style: italic!important;
}

.static .sans, .static .ctor {
  font-family: sans-serif;
  font-style: normal;
}

.static .fraktur, .static .monospace, .static .source-code {
  font-family: monospace;
  font-style: normal;
}

.static .largesym {
  font-size: 110%;
}
