body {
  --font-family: var(--vscode-font-family);
  --font-weight: var(--vscode-font-weight);
  --font-size: var(--vscode-font-size);
  --foreground-color: var(--vscode-editor-foreground);
  --light-foreground-color: var(--vscode-foreground);
  --background-color: var(--vscode-editor-background);
  --error-foreground-color: var(--vscode-errorForeground);
  --link-foreground-color: var(--vscode-textLink-foreground);
  --link-active-foreground-color: var(--vscode-textLink-activeForeground);
  --input-foreground-color: var(--vscode-input-foreground);
  --input-background-color: var(--vscode-input-background);
  --input-error-background-color: var(--vscode-inputValidation-errorBackground);
  --input-border-color: var(--vscode-panelInput-border);
  --hover-background-color: #c8e3f5;
  --selected-foreground-color: white;
  --selected-background-color: #008ae6;
  --pressed-foreground-color: white;
  --pressed-background-color: #0060a0;
  --button-foreground-color: var(--vscode-button-foreground);
  --button-background-color: var(--vscode-button-background);
  --button-border-color: var(--vscode-button-hoverBackground);
  --button-hover-background-color: var(--vscode-button-hoverBackground);
  --button-selected-background-color: var(--selected-background-color);
  --button-pressed-background-color: var(--pressed-background-color);
  --special-button-background-color: var(--button-background-color);
  --special-button-border-color: var(--button-border-color);
  --light-hover-background-color: #daecf8;
  --light-selected-background-color: #80bde6;
  --expression-hover-background-color: var(--hover-background-color);
  --expression-selected-background-color: var(--selected-background-color);
  --expression-pressed-background-color: var(--pressed-background-color);
  --expression-light-hover-background-color: var(--light-hover-background-color);
  --expression-light-selected-background-color: var(--light-selected-background-color);
  --definition-hover-background-color: #80ff00;
  --definition-selected-background-color: #74e700;
  --definition-light-hover-background-color: #daffb5;
  --definition-light-selected-background-color: #c9fc97;
  --expression-menu-background-color: #fcfcfc;
  --expression-menu-border-color: #d0d0d0;
  --expression-menu-hidden-border-color: #e0e0e0;
  --expression-menu-hover-border-color: #c0c0c0;
  --expression-menu-selected-border-color: #a0a0a0;
  --dropdown-foreground-color: #808080;
  --dropdown-background-color: #e0e0e0;
  --dropdown-hover-foreground-color: #606060;
  --dropdown-selected-foreground-color: #606060;
  --resizer-color: var(--vscode-sideBar-background);
  --resizer-hover-color: var(--vscode-list-hoverBackground);
  --toolbar-background-color: var(--vscode-sideBar-background);
  --item-foreground-color: var(--vscode-foreground);
  --item-background-color-1: var(--vscode-sideBar-background);
  --item-background-color-2: var(--vscode-sideBar-background);
  --item-hover-foreground-color: var(--item-foreground-color);
  --item-hover-background-color: var(--vscode-list-hoverBackground);
  --item-selected-foreground-color: var(--item-foreground-color);
  --item-selected-background-color: var(--vscode-list-inactiveSelectionBackground);
  --item-additional-foreground-color: var(--item-foreground-color);
  --item-additional-background-color: var(--vscode-list-hoverBackground);
  --item-minor-foreground-color: var(--light-foreground-color);
  --item-separator-color: var(--light-foreground-color);
  --menu-foreground-color: black;
  --menu-background-color: #f8f8f8;
  --menu-title-background-color: #f2f2f2;
  --menu-border-color: #a0a0a0;
  --menu-separator-color: #e0e0e0;
  --menu-hover-foreground-color: var(--vscode-menu-selectionForeground);
  --menu-hover-background-color: var(--vscode-menu-selectionBackground);
  --menu-selected-foreground-color: var(--selected-foreground-color);
  --menu-selected-background-color: var(--selected-background-color);
  --dialog-foreground-color: var(--foreground-color);
  --dialog-background-color: var(--background-color);
  --dialog-separator-color: var(--light-foreground-color);
  --dialog-group-border-color: var(--dialog-separator-color);
  --dialog-button-row-background-color: var(--toolbar-background-color);
  --dialog-button-row-border-color: var(--dialog-separator-color);
  --dialog-overlay-color: #00000060;
  --tooltip-foreground-color: var(--vscode-editorHoverWidget-foreground);
  --tooltip-background-color: var(--vscode-editorHoverWidget-background);
  --permanent-tooltip-foreground-color: black;
  --permanent-tooltip-background-color: #caffc8;
  --source-code-font-family: var(--vscode-editor-font-family);
  --source-code-font-weight: var(--vscode-editor-font-weight);
  --source-code-font-size: var(--vscode-editor-font-size);
  --source-code-arg-foreground-color: gray;
  --source-code-keyword-foreground-color: blue;
  --source-code-comment-foreground-color: green;
  --source-code-string-foreground-color: maroon;
  --source-code-number-foreground-color: teal;
  --addendum-foreground-color: var(--light-foreground-color);
  --dummy-foreground-color: var(--vscode-editorCodeLens-foreground);
  --dummy-foreground-color-menu: var(--vscode-editorCodeLens-foreground);
  --dummy-border-color: #81813240;
  --disabled-color: var(--light-foreground-color);
  --shadow-color: var(--vscode-widget-shadow);
  --ok-color: lime;
  --cancel-color: orange;
}

body.vscode-dark, body.vscode-high-contrast {
  --hover-background-color: #2a3b4b;
  --selected-foreground-color: white;
  --selected-background-color: #0060a0;
  --pressed-foreground-color: white;
  --pressed-background-color: #008ae6;
  --light-hover-background-color: #252e36;
  --light-selected-background-color: #00497a;
  --definition-hover-background-color: #1d3a00;
  --definition-selected-background-color: #3d7a00;
  --definition-light-hover-background-color: #323a2a;
  --definition-light-selected-background-color: #485837;
  --expression-menu-background-color: #202020;
  --expression-menu-border-color: #404040;
  --expression-menu-hidden-border-color: #303030;
  --expression-menu-hover-border-color: #505050;
  --expression-menu-selected-border-color: #707070;
  --dropdown-foreground-color: #808080;
  --dropdown-background-color: #404040;
  --dropdown-hover-foreground-color: #909090;
  --dropdown-selected-foreground-color: #909090;
}

body.vscode-high-contrast {
  --menu-foreground-color: black;
  --menu-background-color: #f8f8f8;
  --menu-hover-foreground-color: black;
  --menu-hover-background-color: #c0c0c0;
}
