body {
  overflow: hidden;
}

.error {
  display: inline-block;
  color: red;
  font-family: sans;
  border: solid 1pt red;
  padding: 2pt;
  margin: 2pt;
}

.hoverable:hover, .editor-toolbar a.fa:hover, .expr.hover, .expr.hover span, .menu.hover>.menu-row>.menu-placeholder-cell, .menu.hover>.menu-row>.menu-dropdown-cell, .menu.hidden.hover>.menu-row>.menu-cell, .open-menu .hover, .open-menu .selected.hover {
  background-color: #ffd700;
}

.hoverable.selected, .menu.open>.menu-row>.menu-placeholder-cell, .menu.open>.menu-row>.menu-dropdown-cell, .open-menu .selected {
  background-color: #f2cd00;
}

.hoverable.pressed:hover {
  background-color: #e0c000;
}

.expr.definition.hover, .expr.definition.hover span, .expr.definition>.menu.hover>.menu-row>.menu-placeholder-cell, .expr.definition>.menu.hover>.menu-row>.menu-dropdown-cell {
  background-color: #80ff00;
}

.expr.definition>.menu.open>.menu-row>.menu-placeholder-cell, .expr.definition>.menu.open>.menu-row>.menu-dropdown-cell {
  background-color: #74e700;
}

.menu.hover {
  border-color: #c0c0c0;
}

.menu.open {
  border-color: #a0a0a0;
}

.example:hover {
  background-color: #fff09b;
}

.menu.hover .menu-cell {
  background-color: #fdefbd;
}

.expr.definition>.menu.hover .menu-cell {
  background-color: #daffb5;
}

.menu.open .menu-cell {
  background-color: #f8e8a0;
}

.expr.definition>.menu.open .menu-cell {
  background-color: #c9fc97;
}

.menu.hover .menu-placeholder-cell, .menu.open .menu-placeholder-cell, .menu.hover .menu-dropdown-cell, .menu.open .menu-dropdown-cell {
  color: #606060;
}

.disabled {
  color: gray;
}

.ok, .submit {
  color: green;
}

.cancel {
  color: red;
}

.app {
  position: fixed;
  top: 1ex;
  bottom: 1ex;
  left: 1ex;
  right: 1ex;
}

.app-pane {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: solid 1px gray;
  overflow: auto;
}

.app-pane-placeholder {
  height: 0;
}

.app-tree, .app-edit-list {
  padding: 2pt;
}

.app-contents {
  padding: 1ex;
}

.bottom-toolbar-container>.app-pane {
  bottom: 1.5em;
}

.bottom-toolbar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1.5em;
  border: solid 1px gray;
  background-color: #f0f0f0;
  z-index: 1;
}

.bottom-toolbar>.left {
  float: left;
}

.bottom-toolbar>.right {
  float: right;
}

.bottom-toolbar img {
  width: 1.2em;
  height: 1.2em;
  vertical-align: middle;
}

.Resizer.vertical {
  width: 5pt;
  margin: 1pt;
  cursor: col-resize;
}

.Resizer.horizontal {
  height: 5pt;
  margin: 1pt;
  cursor: row-resize;
}

.Resizer:hover {
  background-color: #e0e0e0;
}

.submitting {
  display: inline-block;
  height: 1em;
  width: 1.5em;
  vertical-align: middle;
}
