<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>
      <%= htmlWebpackPlugin.options.title %>
    </title>
    <style>
      @font-face {
        font-family: 'TeX';
        font-style: normal;
        src: url('/fonts/HTML-CSS/TeX/eot/MathJax_Main-Regular.eot'); /* IE9 Compat Modes */
        src: url('/fonts/HTML-CSS/TeX/eot/MathJax_Main-Regular.eot?iefix') format('eot'),
             url('/fonts/HTML-CSS/TeX/woff/MathJax_Main-Regular.woff') format('woff'),
             url('/fonts/HTML-CSS/TeX/otf/MathJax_Main-Regular.otf') format('opentype'),
             url('/fonts/HTML-CSS/TeX/svg/MathJax_Main-Regular.svg#MathJax_Main-Regular') format('svg');
      }
      @font-face {
        font-family: 'TeX';
        font-style: italic;
        src: url('/fonts/HTML-CSS/TeX/eot/MathJax_Math-Italic.eot'); /* IE9 Compat Modes */
        src: url('/fonts/HTML-CSS/TeX/eot/MathJax_Math-Italic.eot?iefix') format('eot'),
             url('/fonts/HTML-CSS/TeX/woff/MathJax_Math-Italic.woff') format('woff'),
             url('/fonts/HTML-CSS/TeX/otf/MathJax_Math-Italic.otf') format('opentype'),
             url('/fonts/HTML-CSS/TeX/svg/MathJax_Math-Italic.svg#MathJax_Math-Italic') format('svg');
      }
      @font-face {
        font-family: 'TeX';
        font-style: normal;
        font-weight: bold;
        src: url('/fonts/HTML-CSS/TeX/eot/MathJax_Main-Bold.eot'); /* IE9 Compat Modes */
        src: url('/fonts/HTML-CSS/TeX/eot/MathJax_Main-Bold.eot?iefix') format('eot'),
             url('/fonts/HTML-CSS/TeX/woff/MathJax_Main-Bold.woff') format('woff'),
             url('/fonts/HTML-CSS/TeX/otf/MathJax_Main-Bold.otf') format('opentype'),
             url('/fonts/HTML-CSS/TeX/svg/MathJax_Main-Bold.svg#MathJax_Main-Bold') format('svg');
      }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="container">
      <div id="app">Loading...</div>
    </div>
  </body>
</html>
