<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>
      <%= htmlWebpackPlugin.options.title %>
    </title>
    <style>
      @font-face {
        font-family: 'TeX';
        src: url('/fonts/HTML-CSS/TeX/eot/MathJax_AMS-Regular.eot'); /* IE9 Compat Modes */
        src: url('/fonts/HTML-CSS/TeX/eot/MathJax_AMS-Regular.eot?iefix') format('eot'),
             url('/fonts/HTML-CSS/TeX/woff/MathJax_AMS-Regular.woff') format('woff'),
             url('/fonts/HTML-CSS/TeX/otf/MathJax_AMS-Regular.otf') format('opentype'),
             url('/fonts/HTML-CSS/TeX/svg/MathJax_AMS-Regular.svg#MathJax_AMS-Regular') format('svg');
      }
      @font-face {
        font-family: 'TeX';
        src: url('/fonts/HTML-CSS/TeX/eot/MathJax_Main-Regular.eot'); /* IE9 Compat Modes */
        src: url('/fonts/HTML-CSS/TeX/eot/MathJax_Main-Regular.eot?iefix') format('eot'),
             url('/fonts/HTML-CSS/TeX/woff/MathJax_Main-Regular.woff') format('woff'),
             url('/fonts/HTML-CSS/TeX/otf/MathJax_Main-Regular.otf') format('opentype'),
             url('/fonts/HTML-CSS/TeX/svg/MathJax_Main-Regular.svg#MathJax_Main-Regular') format('svg');
        unicode-range: U+0-2204, U+2206-FFFF;
      }
      @font-face {
        font-family: 'TeX';
        font-style: italic;
        src: url('/fonts/HTML-CSS/TeX/eot/MathJax_Main-Regular.eot'); /* IE9 Compat Modes */
        src: url('/fonts/HTML-CSS/TeX/eot/MathJax_Main-Regular.eot?iefix') format('eot'),
             url('/fonts/HTML-CSS/TeX/woff/MathJax_Main-Regular.woff') format('woff'),
             url('/fonts/HTML-CSS/TeX/otf/MathJax_Main-Regular.otf') format('opentype'),
             url('/fonts/HTML-CSS/TeX/svg/MathJax_Main-Regular.svg#MathJax_Main-Regular') format('svg');
      }
      @font-face {
        font-family: 'TeX';
        font-style: italic;
        src: url('/fonts/HTML-CSS/TeX/eot/MathJax_Math-Regular.eot'); /* IE9 Compat Modes */
        src: url('/fonts/HTML-CSS/TeX/eot/MathJax_Math-Regular.eot?iefix') format('eot'),
             url('/fonts/HTML-CSS/TeX/woff/MathJax_Math-Regular.woff') format('woff'),
             url('/fonts/HTML-CSS/TeX/otf/MathJax_Math-Regular.otf') format('opentype'),
             url('/fonts/HTML-CSS/TeX/svg/MathJax_Math-Regular.svg#MathJax_Math-Regular') format('svg');
      }
      @font-face {
        font-family: 'TeX';
        font-weight: bold;
        src: url('/fonts/HTML-CSS/TeX/eot/MathJax_Main-Bold.eot'); /* IE9 Compat Modes */
        src: url('/fonts/HTML-CSS/TeX/eot/MathJax_Main-Bold.eot?iefix') format('eot'),
             url('/fonts/HTML-CSS/TeX/woff/MathJax_Main-Bold.woff') format('woff'),
             url('/fonts/HTML-CSS/TeX/otf/MathJax_Main-Bold.otf') format('opentype'),
             url('/fonts/HTML-CSS/TeX/svg/MathJax_Main-Bold.svg#MathJax_Main-Bold') format('svg');
      }
      @font-face {
        font-family: 'TeX-Sans';
        src: url('/fonts/HTML-CSS/TeX/eot/MathJax_SansSerif-Regular.eot'); /* IE9 Compat Modes */
        src: url('/fonts/HTML-CSS/TeX/eot/MathJax_SansSerif-Regular.eot?iefix') format('eot'),
             url('/fonts/HTML-CSS/TeX/woff/MathJax_SansSerif-Regular.woff') format('woff'),
             url('/fonts/HTML-CSS/TeX/otf/MathJax_SansSerif-Regular.otf') format('opentype'),
             url('/fonts/HTML-CSS/TeX/svg/MathJax_SansSerif-Regular.svg#MathJax_SansSerif-Regular') format('svg');
      }
      @font-face {
        font-family: 'TeX-Calligraphic';
        src: url('/fonts/HTML-CSS/TeX/eot/MathJax_Caligraphic-Regular.eot'); /* IE9 Compat Modes */
        src: url('/fonts/HTML-CSS/TeX/eot/MathJax_Caligraphic-Regular.eot?iefix') format('eot'),
             url('/fonts/HTML-CSS/TeX/woff/MathJax_Caligraphic-Regular.woff') format('woff'),
             url('/fonts/HTML-CSS/TeX/otf/MathJax_Caligraphic-Regular.otf') format('opentype'),
             url('/fonts/HTML-CSS/TeX/svg/MathJax_Caligraphic-Regular.svg#MathJax_Caligraphic-Regular') format('svg');
      }
      @font-face {
        font-family: 'TeX-Fraktur';
        src: url('/fonts/HTML-CSS/TeX/eot/MathJax_Fraktur-Regular.eot'); /* IE9 Compat Modes */
        src: url('/fonts/HTML-CSS/TeX/eot/MathJax_Fraktur-Regular.eot?iefix') format('eot'),
             url('/fonts/HTML-CSS/TeX/woff/MathJax_Fraktur-Regular.woff') format('woff'),
             url('/fonts/HTML-CSS/TeX/otf/MathJax_Fraktur-Regular.otf') format('opentype'),
             url('/fonts/HTML-CSS/TeX/svg/MathJax_Fraktur-Regular.svg#MathJax_Fraktur-Regular') format('svg');
      }
      @font-face {
        font-family: 'TeX-DoubleStruck';
        src: url('/fonts/HTML-CSS/TeX/eot/MathJax_AMS-Regular.eot'); /* IE9 Compat Modes */
        src: url('/fonts/HTML-CSS/TeX/eot/MathJax_AMS-Regular.eot?iefix') format('eot'),
             url('/fonts/HTML-CSS/TeX/woff/MathJax_AMS-Regular.woff') format('woff'),
             url('/fonts/HTML-CSS/TeX/otf/MathJax_AMS-Regular.otf') format('opentype'),
             url('/fonts/HTML-CSS/TeX/svg/MathJax_AMS-Regular.svg#MathJax_AMS-Regular') format('svg');
      }
      @font-face {
        font-family: 'TeX-Large';
        src: url('/fonts/HTML-CSS/TeX/eot/MathJax_Size2-Regular.eot'); /* IE9 Compat Modes */
        src: url('/fonts/HTML-CSS/TeX/eot/MathJax_Size2-Regular.eot?iefix') format('eot'),
             url('/fonts/HTML-CSS/TeX/woff/MathJax_Size2-Regular.woff') format('woff'),
             url('/fonts/HTML-CSS/TeX/otf/MathJax_Size2-Regular.otf') format('opentype'),
             url('/fonts/HTML-CSS/TeX/svg/MathJax_Size2-Regular.svg#MathJax_Size2-Regular') format('svg');
      }
      .preload-font {
        font-family: 'TeX';
      }
    </style>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1" />
  </head>
  <body>
    <div class="container">
      <div id="app">
        <p>Welcome to the HLM proof assistant.</p>
        <p>This website requires a modern web browser with JavaScript.</p>
        <p>Loading<span class="preload-font">...</span></p>
      </div>
    </div>
  </body>
</html>
