:root {
  --font-family: var(--vscode-font-family);
  --font-weight: var(--vscode-font-weight);
  --font-size: var(--vscode-font-size);
  --foreground-color: var(--vscode-editor-foreground);
  --light-foreground-color: var(--vscode-foreground);
  --background-color: var(--vscode-editor-background);
  --error-foreground-color: var(--vscode-errorForeground);
  --link-foreground-color: var(--vscode-textLink-foreground);
  --link-active-foreground-color: var(--vscode-textLink-activeForeground);
  --input-foreground-color: var(--vscode-input-foreground);
  --input-background-color: var(--vscode-input-background);
  --input-error-background-color: var(--vscode-inputValidation-errorBackground);
  --input-border-color: var(--vscode-panelInput-border);
  --button-foreground-color: var(--vscode-button-foreground);
  --button-background-color: var(--vscode-button-background);
  --button-border-color: var(--vscode-button-hoverBackground);
  --button-hover-background-color: var(--vscode-button-hoverBackground);
  --button-selected-background-color: var(--vscode-editorGutter-addedBackground);
  --button-pressed-background-color: var(--vscode-progressBar-background);
  --special-button-background-color: var(--button-background-color);
  --special-button-border-color: var(--button-border-color);
  --expression-hover-background-color: var(--vscode-editorGutter-modifiedBackground);
  --expression-selected-background-color: var(--vscode-inputValidation-infoBorder);
  --expression-pressed-background-color: var(--button-pressed-background-color);
  --expression-light-hover-background-color: var(--vscode-inputValidation-infoBackground);
  --expression-light-selected-background-color: var(--vscode-editor-selectionBackground);
  --definition-hover-background-color: var(--vscode-editorGutter-addedBackground);
  --definition-selected-background-color: var(--vscode-editor-findMatchBackground);
  --definition-light-hover-background-color: var(--vscode-inputValidation-warningBackground);
  --definition-light-selected-background-color: var(--vscode-inputValidation-warningBackground);
  --expression-menu-background-color: var(--vscode-editorWidget-background);
  --expression-menu-border-color: var(--vscode-editorWidget-border);
  --expression-menu-hidden-border-color: var(--vscode-editorRuler-foreground);
  --expression-menu-hover-border-color: var(--vscode-editorGroup-border);
  --expression-menu-selected-border-color: var(--vscode-editorBracketMatch-border);
  --dropdown-foreground-color: var(--vscode-editorHint-foreground);
  --dropdown-background-color: var(--vscode-editorHoverWidget-border);
  --dropdown-hover-foreground-color: var(--vscode-editorHoverWidget-foreground);
  --dropdown-selected-foreground-color: var(--vscode-editor-foreground);
  --resizer-color: var(--vscode-sideBar-background);
  --resizer-hover-color: var(--vscode-list-hoverBackground);
  --toolbar-background-color: var(--vscode-sideBar-background);
  --item-foreground-color: var(--vscode-foreground);
  --item-background-color-1: var(--vscode-sideBar-background);
  --item-background-color-2: var(--vscode-sideBar-background);
  --item-hover-foreground-color: var(--item-foreground-color);
  --item-hover-background-color: var(--vscode-list-hoverBackground);
  --item-selected-foreground-color: var(--item-foreground-color);
  --item-selected-background-color: var(--vscode-list-inactiveSelectionBackground);
  --item-additional-foreground-color: var(--item-foreground-color);
  --item-additional-background-color: var(--vscode-list-hoverBackground);
  --item-minor-foreground-color: var(--light-foreground-color);
  --item-separator-color: var(--light-foreground-color);
  --menu-foreground-color: var(--vscode-editorWidget-foreground);
  --menu-background-color: var(--vscode-editorWidget-background);
  --menu-border-color: var(--vscode-dropdown-border);
  --menu-separator-color: var(--vscode-editorGroup-border);
  --menu-hover-foreground-color: var(--vscode-menu-selectionForeground);
  --menu-hover-background-color: var(--vscode-menu-selectionBackground);
  --menu-selected-foreground-color: var(--vscode-menubar-selectionForeground);
  --menu-selected-background-color: var(--vscode-menubar-selectionBackground);
  --dialog-foreground-color: var(--foreground-color);
  --dialog-background-color: var(--background-color);
  --dialog-separator-color: var(--light-foreground-color);
  --dialog-group-border-color: var(--dialog-separator-color);
  --dialog-button-row-background-color: var(--toolbar-background-color);
  --dialog-button-row-border-color: var(--dialog-separator-color);
  --dialog-overlay-color: var(--vscode-editorUnnecessaryCode-opacity);
  --tooltip-foreground-color: var(--vscode-editorHoverWidget-foreground);
  --tooltip-background-color: var(--vscode-editorHoverWidget-background);
  --permanent-tooltip-foreground-color: var(--vscode-editor-foreground);
  --permanent-tooltip-background-color: var(--vscode-editorMarkerNavigationInfo-background);
  --source-code-font-family: var(--vscode-editor-font-family);
  --source-code-font-weight: var(--vscode-editor-font-weight);
  --source-code-font-size: var(--vscode-editor-font-size);
  --source-code-arg-foreground-color: gray;
  --source-code-keyword-foreground-color: blue;
  --source-code-comment-foreground-color: green;
  --source-code-string-foreground-color: maroon;
  --source-code-number-foreground-color: teal;
  --addendum-foreground-color: var(--light-foreground-color);
  --dummy-foreground-color: var(--vscode-editorCodeLens-foreground);
  --dummy-foreground-color-menu: var(--vscode-editorCodeLens-foreground);
  --dummy-border-color: var(--vscode-editor-rangeHighlightBackground);
  --disabled-color: var(--light-foreground-color);
  --shadow-color: var(--vscode-widget-shadow);
  --ok-color: lime;
  --cancel-color: orange;
}
