:root {
  --font-family: sans-serif;
  --font-weight: normal;
  --font-size: initial;
  --foreground-color: black;
  --light-foreground-color: gray;
  --background-color: white;
  --error-foreground-color: red;
  --link-foreground-color: #00008b;
  --link-active-foreground-color: #40008b;
  --input-foreground-color: var(--foreground-color);
  --input-background-color: var(--background-color);
  --input-error-background-color: #ffe0e0;
  --input-border-color: silver;
  --hover-background-color: #ffd700;
  --selected-background-color: #f2cd00;
  --pressed-background-color: #e0c000;
  --button-foreground-color: black;
  --button-background-color: #e0e0e0;
  --button-border-color: #d0d0d0;
  --button-hover-background-color: var(--hover-background-color);
  --button-selected-background-color: var(--selected-background-color);
  --button-pressed-background-color: var(--pressed-background-color);
  --light-hover-background-color: #fdefbd;
  --light-selected-background-color: #f8e8a0;
  --expression-hover-background-color: var(--hover-background-color);
  --expression-selected-background-color: var(--selected-background-color);
  --expression-pressed-background-color: var(--pressed-background-color);
  --expression-light-hover-background-color: var(--light-hover-background-color);
  --expression-light-selected-background-color: var(--light-selected-background-color);
  --definition-hover-background-color: #80ff00;
  --definition-selected-background-color: #74e700;
  --definition-light-hover-background-color: #daffb5;
  --definition-light-selected-background-color: #c9fc97;
  --expression-menu-background-color: #fcfcfc;
  --expression-menu-border-color: var(--button-border-color);
  --expression-menu-hidden-border-color: #e0e0e0;
  --expression-menu-hover-border-color: #c0c0c0;
  --expression-menu-selected-border-color: #a0a0a0;
  --dropdown-foreground-color: #808080;
  --dropdown-background-color: var(--button-background-color);
  --dropdown-hover-foreground-color: #606060;
  --dropdown-selected-foreground-color: #606060;
  --resizer-color: #f8f8f8;
  --resizer-hover-color: var(--hover-background-color);
  --item-foreground-color: black;
  --item-background-color-1: #fcfcfc;
  --item-background-color-2: #f8f8f8;
  --item-hover-foreground-color: var(--item-foreground-color);
  --item-hover-background-color: var(--hover-background-color);
  --item-selected-foreground-color: var(--item-foreground-color);
  --item-selected-background-color: var(--selected-background-color);
  --item-additional-foreground-color: var(--item-foreground-color);
  --item-additional-background-color: silver;
  --item-minor-foreground-color: var(--light-foreground-color);
  --item-separator-color: var(--light-foreground-color);
  --menu-foreground-color: black;
  --menu-background-color: #f8f8f8;
  --menu-border-color: #a0a0a0;
  --menu-separator-color: #e0e0e0;
  --menu-hover-foreground-color: var(--menu-foreground-color);
  --menu-hover-background-color: var(--hover-background-color);
  --menu-selected-foreground-color: var(--menu-foreground-color);
  --menu-selected-background-color: var(--selected-background-color);
  --toolbar-background-color: #f0f0f0;
  --dialog-foreground-color: var(--foreground-color);
  --dialog-background-color: var(--background-color);
  --dialog-separator-color: var(--light-foreground-color);
  --dialog-group-border-color: var(--dialog-separator-color);
  --dialog-button-row-background-color: var(--toolbar-background-color);
  --dialog-button-row-border-color: var(--dialog-separator-color);
  --dialog-overlay-color: #00000080;
  --tooltip-foreground-color: black;
  --tooltip-background-color: #fff4d0;
  --source-code-font-family: 'Courier New', 'Courier', monospace;
  --source-code-font-weight: normal;
  --source-code-font-size: initial;
  --source-code-arg-foreground-color: gray;
  --source-code-keyword-foreground-color: blue;
  --source-code-comment-foreground-color: green;
  --source-code-string-foreground-color: maroon;
  --source-code-number-foreground-color: teal;
  --addendum-foreground-color: var(--light-foreground-color);
  --dummy-foreground-color: #606060;
  --dummy-foreground-color-menu: #a0a0a0;
  --dummy-border-color: #e0e0a0;
  --disabled-color: var(--light-foreground-color);
  --shadow-color: silver;
  --ok-color: green;
  --cancel-color: red;
}
