.start-page {
  text-align: justify;
}

.tutorial-button-container {
  margin-top: 1em;
  text-align: center;
}

.button.standalone.tutorial-button {
  padding: 6pt 10pt;
  background-color: var(--special-button-background-color);
  border-color: var(--special-button-border-color);
  font-weight: bold;
}

.examples {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
}

.example-container {
  display: flex;
  align-items: center;
  padding: 0 1em;
  margin: 1ex 0;
}

.example-container:not(:last-child) {
  border-right: dotted 1px var(--item-separator-color);
}

.example {
  display: block;
  padding: 1ex;
  background-color: var(--item-background-color-2);
  cursor: pointer;
  text-decoration: initial;
  color: initial;
}

.example:hover {
  background-color: var(--expression-light-hover-background-color);
}

.example>* {
  display: block;
}

.example-title {
  margin-top: 1ex;
  font-size: smaller;
}
