.large-tooltip {
  padding: 1ex;
}

.scrollable-tooltip {
  max-height: 9em;
  overflow-y: auto;
}

.tutorial-tooltip-button-row {
  margin-top: 1em;
  text-align: center;
}

.button.tutorial-tooltip-button.standalone {
  margin-left: 4pt;
  margin-right: 4pt;
}
